* {
  margin: 0;
  padding: 0;
  color: rgb(201, 201, 201);
  font-family: Calibri;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  overflow-x: hidden;
  max-width: 100vw;
}

span {
  font-weight: bold;
}
a {
  text-decoration: none;
}
.distribuidor {
  height: 100vh;
  width: 100vw;
}
.flex {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  border-style: none;
}

.distribuidor,
.botao-gif,
.botao-gif2 {
  background-size: cover;
  background-repeat: no-repeat;
}

#inicio:first-child,
#sobre,
#experiencia,
#contato {
  padding: 4vh 6vw;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  height: 100vh;
  min-width: 100vw;
  justify-content: space-evenly;
}

/*** MENU SUPERIOR/ NAVS [N4VS] ***/
nav,
.mobile-menu {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  border-radius: 12px;
  justify-content: stretch;
  font-weight: bold;
  backdrop-filter: blur(8px);
}
nav a:hover {
  background-color: #ffffff0e;
  border-radius: 20px;
}
nav,
nav span,
nav span a {
  flex-basis: 100%;
}

/*** CAMPO INICIO [!NIC1] ***/
#inicio {
  background-image: url("inicio-img-fundo2.png");
  position: relative;
}
#inicio section {
  position: absolute;
  text-align: left;
  width: 28vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: end;
  left: 6vw;
  bottom: 7vh;
}
#inicio h1 {
  flex-wrap: wrap;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
}
#inicio span {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: flex-end;
  justify-self: flex-end;
  right: 20vw;
  bottom: 7vh;
}
#inicio span img {
  height: 10vh;
  width: auto;
}
#inicio p img {
  height: auto;
  width: 20px;
}

#inicio span a img:hover {
  height: 75px;
}

/*** CAMPO SOBRE [S@BR] ***/
#sobre {
  display: flex;
  flex-wrap: wrap;
  background-image: url("sobre-objeto.png");
}

#sobre section {
  display: flex;
  flex-direction: column;
  height: auto;
}
#sobre img {
  position: absolute;
  display: flex;
  z-index: -2;
  opacity: 30%;
}
#sobre .conhecimentos {
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: wrap;
}
#sobre .conhecimentos article {
  flex-direction: row;
  margin-top: 2vh;
  width: 50%;
  height: auto;
  box-sizing: border-box;
  flex-wrap: wrap;
  text-align: left;
  justify-content: flex-start;
  align-content: space-evenly;
}
#sobre .caixa-texto {
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2vh 1vw;
}
#sobre .caixa-texto p {
  display: flex;
  width: 90%;
}

.conhecimentos span {
  line-height: 1;
  margin: 2px;
  padding: 2px;
  border: 2px solid #202020;
  color: white;
  font-size: 18px;
  border-radius: 12px;
  text-align: left;
}

/*** CAMPO EXPERIÊNCIA [EX8P] ***/
#experiencia {
  flex-direction: column;
  background-color: #121212;
  justify-content: space-evenly;
}
#experiencia .caixa-texto a {
  background-color: #0000009c;
  border: 2px solid #ffffff25;
  line-height: 7px;
  height: auto;
  padding: 4px;
  border-radius: 8px;
}
#experiencia .caixa-texto {
  border: 3px solid #ffffff25;
  border-radius: 30px;
}
.caixa-gif,
.caixa-gif2,
.caixa-gif3,
.caixa-gif4 {
  background-color: #0000009c;
  flex-direction: row;
}
.fechar-gif {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#experiencia .caixa-texto.horizontal {
  padding: 1.3vh;
  height: auto;
}
#experiencia .caixa-texto.horizontal {
  align-items: center;
}

#experiencia .caixa-texto.horizontal span,
#experiencia .caixa-texto.vertical span {
  align-items: center;
  justify-content: center;
  align-content: space-evenly;
  background-color: #0000009c;
  border-radius: 20px;
  padding: 1vw;
}
#experiencia .caixa-texto.horizontal a:hover,
.caixa-texto.vertical a:hover {
  color: #ff4d6b;
}
#experiencia .outras-experiencias span {
  max-width: 300px;
  height: fit-content;
  justify-content: center;
}

/*** CAMPO CONTATO [C@TT] ***/
#contato {
  background-image: url("contatos-img-fundo2.png");
  max-height: 100vh;
  display: flex;
  bottom: 0px;
  align-items: center;
  justify-content: center;
}
#contato div {
  position: absolute;
}
#contato form {
  position: absolute;
  padding: 10px;
  background-color: #ffffff05;
  border: 1px solid #ffffff25;
  backdrop-filter: blur(15px);
  border-radius: 3%;
  min-width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#contato form input {
  height: 30px;
  color: #d0d0d0;
}
#contato form input ::placeholder {
  font-weight: bold;
}
#contato form .nome,
form .email,
textarea {
  min-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}
#contato form .nome {
  justify-content: space-between;
}
#contato form .nome input {
  width: 50%;
}
#contato form .email input {
  min-width: 100%;
}
#contato form button {
  background-color: #7c4dffa2;
  backdrop-filter: blur(90px);
  min-height: 5vh;
  height: 15%;
  border-radius: 50%;
  border: 0;
  position: absolute;
  bottom: 5%;
  z-index: 20;
}
#contato form input,
textarea {
  background-color: #151515ea;
  border: 0;
  border-radius: 7px;
  box-sizing: border-box;
  font-size: 85%;
}
#contato form textarea {
  width: 96%;
}
#contato form button img {
  width: 90%;
}
#contato form button:hover {
  border: 3px solid #ffffff25;
}
@media only screen and (min-width: 1081px) {
  /*** MENU SUPERIOR/ NAVS - DESKTOP [N4VS] ***/
  nav img,
  .icone-menu {
    display: none;
  }
  nav {
    height: 50px;
    min-width: 90vw;
    background-color: #141414d0;
    border: 1px solid #ffffff25;
    margin: 0 4vw;
    top: 20px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    z-index: 4;
  }
  nav a:hover {
    padding: 5px 20px;
  }
  .mobile-menu {
    display: none;
  }

  /*** CAMPO INICIO - DESKTOP [!NIC1] ***/

  #inicio span {
    right: 5vw;
  }
  #inicio div:first-child {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 1vw;
    top: 12vh;
  }
  section div:first-child {
    padding: 5vh 5vw;
  }

  /*** CAMPO SOBRE - DESKTOP [S@BR] ***/
  #sobre {
    background-size: contain;
    background-position-x: 42vw;
  }
  #sobre .conhecimentos span:hover {
    border-color: #ff4d6b;
  }
  #sobre section {
    width: 40vw;
  }
  #sobre img {
    bottom: 60px;
    width: 60%;
    height: 80%;
    left: 45vw;
  }

  /*** CAMPO EXPERIÊNCIA - DESKTOP [EX8P] ***/
  #experiencia {
    height: 100vh;
    position: relative;
  }
  .botao-gif,
  .botao-gif2 {
    display: none;
  }
  #experiencia h1 {
    text-align: center;
    line-height: -1;
  }
  #experiencia p {
    max-width: 50vw;
  }
  #experiencia section {
    width: 95vw;
  }
  #experiencia article {
    max-width: 50vw;
  }
  #experiencia .projetos-mobile {
    display: none;
  }
  #experiencia .caixa-texto {
    position: relative;
    max-width: 88vw;
    max-height: auto;
    z-index: 0;
    padding: 8px;
    background-color: #121212;
  }
  #experiencia .projetos-desktop {
    width: 80vw;
    height: auto;
  }
  #experiencia .caixa-texto.projetos-desktop {
    width: 55vw;
  }
  #experiencia .caixa-texto.projetos-desktop div:nth-of-type(2) {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #experiencia .caixa-texto.projetos-desktop div:nth-of-type(2) div {
    width: 35%;
    justify-content: space-between;
  }
  #experiencia .caixa-texto.projetos-desktop:first-of-type {
    margin-bottom: 20px;
  }

  #experiencia .caixa-texto.projetos-desktop {
    padding: 8px;
    align-content: space-around;
    box-sizing: border-box;
  }
  #experiencia .caixa-texto.projetos-desktop a {
    display: flex;
    align-items: center;
  }
  #experiencia .caixa-texto.projetos-desktop a:hover {
    background-color: #4e6eb3;
  }
  #experiencia .caixa-texto.projetos-desktop div:first-of-type {
    padding: 0;
  }
  #experiencia .caixa-texto.projetos-desktop .descricao p {
    background-color: #00000057;
    box-sizing: border-box;
    min-width: 99%;
    border-radius: 20px;
    padding: 8px;
  }
  .botao-gif3,
  .botao-gif4 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #ffffff25;
    background-color: #696969;
    padding: 4px;
    border-radius: 8px;
    right: 12vw;
    bottom: 2.5vh;
    width: 8vw;
    height: 4.8vh;
  }
  .botao-gif3 p,
  .botao-gif4 p {
    text-align: center;
    font-size: 15px;
  }
  .botao-gif3:hover,
  .botao-gif4:hover {
    background-color: #ff4d6b;
  }
  .caixa-gif3,
  .caixa-gif4 {
    display: none;
    background-color: #1616167e;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 5;
    justify-content: center;
    align-items: center;
    top: 0vh;
    left: 0vw;
    height: 100vh;
    width: 99vw;
  }
  .caixa-gif3 video,
  .caixa-gif4 video {
    position: absolute;
    border: 4px solid #ffffff0a;
    padding: 0;
    width: 95%;
    height: 95%;
    border-radius: 25px;
  }
  .fechar-gif {
    position: absolute;
    top: 1vh;
    left: 1vw;
    justify-content: start;
    max-width: 1.5vw;
    max-height: 1vh;
    z-index: 6;
  }
  .fechar-gif img {
    width: 20px;
    height: 20px;
  }
  .abrir {
    display: flex;
  }
  #experiencia .caixa-texto.horizontal span {
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
  }
  #experiencia .caixa-texto.horizontal p,
  .caixa-texto.vertical p {
    margin: 0 20px;
  }
  #experiencia .caixa-texto.horizontal br,
  .caixa-texto.vertical br {
    display: none;
  }
  #experiencia .caixa-texto.horizontal a,
  .caixa-texto.vertical a {
    color: #5c5c5c;
    flex-wrap: wrap;
  }
  #experiencia .caixa-texto.vertical {
    position: absolute;
    flex-wrap: wrap;
    background-color: #0e0d0d7a;
    flex-direction: column;
    align-items: center;
    height: 51.5vh;
    top: 122px;
    width: 25vw;
    right: 110px;
  }
  #experiencia .caixa-texto.vertical article {
    height: 90%;
    width: 100%;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
  }
  #experiencia .caixa-texto.vertical span {
    max-width: 20vw;
    line-height: 1;
    height: fit-content;
  }
  .caixa-texto.vertical h2 {
    text-align: center;
  }
  .botao-gif,
  .botao-gif2 {
    display: flex;
  }
  #experiencia .outras-experiencias {
    max-width: 86vw;
  }
  #experiencia .outras-experiencias article {
    min-width: 75%;
    height: 90%;
    justify-content: space-evenly;
    align-content: space-around;
  }

  /*** CAMPO CONTATO - DESKTOP [C@TT] ***/
  #contato div {
    left: 30vw;
    width: 30vw;
    height: 70vh;
  }
  #contato form .nome input {
    width: 47%;
  }

  #contato form button {
    min-width: 5vh;
    width: 15%;
    right: -5%;
  }
  #contato form textarea {
    height: 50vh;
  }
  #contato form input,
  textarea {
    padding-left: 5px;
  }
}
@media only screen and (max-width: 1080px) {
  /*** MENU SUPERIOR/ NAVS - MOBILE [N4VS] ***/
  .navbar {
    display: none;
  }
  .icone-menu {
    border: none;
    height: 60px;
    min-width: 60px;
    background-color: #141414d0;
    border: 1px solid #ffffff25;
    margin: 0 4vw;
    top: 20px;
    align-items: center;
    position: fixed;
    z-index: 4;
    border-radius: 30px;
    backdrop-filter: blur(8px);
  }
  .mobile-menu {
    background-color: #141414d0;
    border: 1px solid #ffffff25;
    border-radius: 15px;
    margin: 2vw;
    height: 70vh;
    width: 45vw;
    top: 45px;
    z-index: 3;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
  }
  .icone-menu img {
    height: 25px;
    width: 25px;
    margin: 7px;
    cursor: pointer;
  }
  .mobile-menu img {
    height: 15px;
    width: 15px;
    margin-right: 15px;
  }
  .mobile-menu {
    display: none;
  }
  .open {
    display: flex;
  }

  /*** CAMPO INICIO - MOBILE [!NIC1] ***/

  #inicio {
    background-position-x: -30vw;
  }
  #inicio span {
    right: 20px;
  }

  /*** CAMPO SOBRE - MOBILE [S@BR] ***/
  #sobre .conhecimentos span {
    border-color: #ff4d6b;
  }
  #sobre {
    padding: 0.5vh 0.5vw;
    background-position-x: -40vw;
    background-size: cover;
  }

  /*** CAMPO EXPERIÊNCIA - MOBILE [EX8P] ***/
  #experiencia h1 {
    text-align: start;
    margin-left: 7px;
  }
  #experiencia {
    padding: 0.5vh 0.5vw;
  }
  #experiencia section {
    width: 98vw;
    max-height: 100vh;
    padding: 1.5vw;
  }
  #experiencia .projetos-desktop {
    display: none;
  }
  .projetos-mobile {
    max-width: 100vw;
    max-height: 50vh;
    padding: 1vh 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .botao-gif,
  .botao-gif2 {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
    border-radius: 4px;
    padding: 2px;
    margin: 3px;
    height: 60vh;
    width: 45vw;
  }
  .botao-gif2 h4 {
    color: #696969;
    background-color: #0000000a;
  }
  .botao-gif h4 {
    color: #000000;
    background-color: #ffffff11;
  }
  .botao-gif h4,
  .botao-gif2 h4 {
    font-size: 4vw;
    font-weight: bold;
    margin: 3vw;
    backdrop-filter: blur(2px);
    border-radius: 15px;
  }
  .botao-gif {
    background-image: url("CALCULADORA-MULTI.jpg");
  }
  .botao-gif2 {
    background-image: url("SITE-APRESENTACAO.jpg");
  }
  .botao-gif:hover,
  .botao-gif2:hover {
    border: 2px solid #d0d0d09a;
  }
  .caixa-texto-mobile,
  .caixa-texto-mobile2 {
    background-color: #000000d2;
    backdrop-filter: blur(100px);
    position: fixed;
    align-items: center;
    align-content: space-between;
    z-index: 4;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding: 0 2vw 2vh 2vw;
  }
  .caixa-texto-mobile section,
  .caixa-texto-mobile2 section {
    width: 100%;
    justify-self: center;
    justify-content: center;
    text-align: center;
  }
  .fechar-gif,
  .fechar-gif2 {
    background-color: transparent;
    border: none;
    max-width: 20px;
    height: auto;
    line-height: 0;
  }
  .fechar-gif img,
  .fechar-gif2 img {
    width: 20px;
    height: auto;
  }
  .caixa-texto-mobile {
    display: none;
  }
  .caixa-texto-mobile2 {
    display: none;
  }
  .caixa-gif,
  .caixa-gif2 {
    background-color: #4e6eb3;
    backdrop-filter: blur(25px);
    height: auto;
    width: 100vw;
    z-index: 4;
  }
  .caixa-gif video,
  .caixa-gif2 video {
    width: 100%;
    height: 100%;
  }
  .caixa-gif3,
  .caixa-gif4 {
    display: none;
  }
  .caixa-texto-mobile a,
  .caixa-texto-mobile2 a {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    margin-left: 7vw;
    height: 7vh;
    background-color: #4e6eb3;
    font-size: 22px;
    font-weight: bolder;
  }
  .caixa-texto-mobile a:hover,
  .caixa-texto-mobile2 a:hover {
    border: 1px solid #d0d0d09a;
  }
  .caixa-texto-mobile p,
  .caixa-texto-mobile2 p {
    max-width: 95vh;
    margin: 0;
  }
  .abrir,
  .abrir2 {
    display: flex;
  }

  #experiencia .caixa-texto.horizontal span,
  #experiencia .caixa-texto.horizontal a {
    font-size: 12px;
    line-height: 10px;
  }
  #experiencia .caixa-texto.horizontal span {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 1vw;
    padding: 3px;
  }
  #experiencia .caixa-texto.horizontal a,
  .caixa-texto.vertical a {
    color: #5c5c5c;
    flex-wrap: wrap;
  }
  #experiencia .caixa-texto.horizontal span h3,
  .caixa-texto.vertical span h3 {
    font-size: 10px;
    line-height: normal;
  }
  #experiencia .caixa-texto.horizontal .margin-top,
  .caixa-texto.vertical .margin-top {
    margin-top: 0.5vh;
  }
  #experiencia .caixa-texto.horizontal h2,
  .caixa-texto.vertical h2 {
    font-size: 13px;
    margin-top: 1vh;
  }
  #experiencia .caixa-texto.vertical {
    flex-wrap: wrap;
    position: static;
    background-color: #0e0d0d7a;
    flex-direction: row;
    align-items: center;
    max-height: 52vh;
    top: 130px;
    width: 100%;
    right: 110px;
  }
  #experiencia .caixa-texto.vertical article {
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: nowrap;
  }
  #experiencia .caixa-texto.vertical span {
    width: auto;
    line-height: 1;
    height: fit-content;
  }
  .caixa-texto.vertical h2 {
    text-align: center;
  }
  .caixa-texto.vertical {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .caixa-texto.vertical span {
    max-width: 150px;
  }
  .caixa-texto.vertical span,
  .caixa-texto.vertical a {
    font-size: smaller;
  }

  /*** CAMPO CONTATO - MOBILE [C@TT] ***/
  #contato div {
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-evenly;
    width: 88vw;
    height: 60vh;
  }
  #contato form {
    min-width: 100%;
    height: 100%;
    align-content: space-between;
    justify-content: space-between;
  }
  #contato form .nome,
  form .email,
  textarea {
    min-width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #contato form .nome input {
    width: 50%;
  }
  #contato form .email input {
    min-width: 100%;
  }
  #contato form button {
    width: 18%;
    height: auto;
    right: -6%;
  }
  #contato textarea {
    height: 83%;
  }
  #contato form input,
  textarea {
    padding-left: 2vw;
  }
}
